<header>
    <div>
        <span>img</span>
        <form action="/restaurants" method="POST" class="search-bars">
            
            <span>
                
                <span>
                    <input type="text" id="term" name="term" value="" class="search-bar" placeholder="Enter Term">
                </span>
                <span>|</span>
                <span>
                    
                    <input type="text" id="location" name="location" value="" class="search-bar" placeholder="Enter Location">
                </span>
                <span>
                    <input name="reqType" value="mainReq" type="hidden">
                    <button type="submit" class="search-btn">&#x1F50E;&#xFE0E;</button>
                </span> 
                
            </span>   
                                                                                                              
        </form>
    </div>
</header>