Input here
<h1 class="title">Search For Restraunts</h1>
<!-- <form action="/restaurants" method="POST" >
    <div class="search-bars">
        <span>
            
            <input type="text" id="term" name="term" value="" class="search-bar">
        </span>
        <span></span>
        <span>
            
            <input type="text" id="location" name="location" value="" class="search-bar">
        </span>
        
    </div>   
    <div>
        <button type="submit" class="btn search-btn">Search</button>
    </div>                                                                                                   
</form> -->