Input here
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<h1 class="title">Search For Restraunts</h1>
<form action="/restaurants" method="POST" >
    <div class="search-bars">
        <span>
            
            <input type="text" id="term" name="term" value="" class="search-bar" placeholder="Enter Term">
        </span>
        <span>|</span>
        <span>
            
            <input type="text" id="location" name="location" value="" class="search-bar" placeholder="Enter Location">
        </span>
        <span>
            <button type="submit" class="btn search-btn">&#x1F50E;&#xFE0E;</button>
        </span>
    </div>   
                                                                                                       
</form>