Input here
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<form action="/restaurants" method="POST">
    <div>
        <label for="term">Term</label>
        <input type="text" id="term" name="term" value="">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="location" value="">
    </div>
        <button type="submit">Search</button>
</form>