:root {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --main-color: hotpink;
    --pane-padding: 5px 42px;
  }

  
  html,body{
    margin: 0;
    padding: 0;
    background-color: #f0f0f0!important;
    
  }
  .search-bars{
    
    max-width: 432.7px;
    border: #7916ab 2px solid;

    background-color: white;
    margin: 50px 0px 50px 100px;
    
    
  }
  .search-bar{
    width: 300;
    height: 30px;
    border: none;
    background-color: none;
    
  }
  

  .btn:hover{
    cursor: pointer;
  }
  .search-btn{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    background-color: #8a2be2;
    color: aliceblue;
    height: 41px;
    width: 41px;
    border: none;
    
    
  }
  .search-btn:hover{
    background-color:#7916ab ;
  }
  .title{
    text-align: center;
    color: #8a2be2;
    
  }

  header{
    background-color: #cc34eb;
    padding-bottom: 25px;
  }
  .rest-img{
    float: left;
    position:static;
    width: 220px;
    height: 220px;
    margin-bottom:5px;
    padding-right: 10px
  }
  .rest-list li{
    display: inline-block;
    
  }
  .rest-distance{
    
    float: left;
    
  }
  .lst{
    margin-bottom: 20px;
    
  }
  .rest-detail{
    font-size: large;
    ;
  }
  .rest-name{
    font-weight: bold;
  }
 